<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>formulaire recherche</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
         <div class="col-md-6 col-md-offset-4"> <h1>RECHERCHER UN LOGEMENT !</h1></div>


    </div>
    <div class="row">
  <div class="col-md-4 col-md-offset-4"> <img src="/tof.jpg" alt="maison" width="500px" height="400px" class="img-rounded">
  </div>
  
    </div>

<div class="row">
			<div class="col-md-8" >
				<form class="form-horizontal">
				
				
				
<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">VILLE</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="ville"/>
									</div>
					</div>
<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">DISPO DU</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="datedu"/>
									</div>
					</div>
<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">AU</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="dateau"/>
		</div>
					</div>
   <div class="col-md-1 "> <button type="submit" class="btn btn-primary" id="bouton_post" >rechercher</button>
   </div>
   
   
</form>
<div class="row">
			<div class="col-md-10 col-md-offset-2" >
<h1>Logement(s) disponible(s)</h1>
	<table id="LogementTable" class="table table-striped">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>Id</th>
				<th>desciption</th>
                <th>rue</th>
                <th>ville</th>
                <th>dispo du</th>
                <th>jusqu'au</th>
                <th>nom du propriétaire</th>
            </tr>
        </thead>
         <tbody id="avant">
      
    </tbody>
        
           </table>
</div>
</div>

<div id="feedback"></div>
</div>
</div>


</div>

	<script type="application/javascript">
			
		
    $(document).ready(function () {
       $('#bouton_post').on("click",function (e) {
           e.preventDefault();
        
           var datedu, dateau/* , ville */;
          
           datedu = $('#datedu').val();
           dateau = $('#dateau').val();
           
       //    ville = $('#ville').val();
          
           if($.trim(datedu) === ""){
               alert("logement  date du ne peut pas etre vide");
           } 
           else if($.trim(dateau) === ""){
                   alert("logement  date au ne peut pas etre vide");
           }
       /*     else if($.trim(ville) === ""){
                   alert("logement  ville ne peut pas etre vide");
           } */
           else {
        	   $.ajax({
                   type:"GET",
                   url:"/resultat",
                   data:{datedu:datedu,dateau:dateau},
                   datatype:'json',
                   error: function(xhr, status, error) {
                	   var err = eval("(" + xhr.responseText + ")");
                	   alert(err.Message);
                	 },
                   success:function (response) {
                       if (confirm("le resultat de recherche?!" )){
                    $("form").fadeOut(1000); 
              		/* var json = "<h4>Ajax Response</h4><pre>"
            					+ JSON.stringify(response, null, 4) + "</pre>";
            			$('#feedback').html(json);  */
            			
            		     var trHTML = '';
            		        $.each(response, function (i, item) {
            		            trHTML += '<tr><td>' + item.idlogement + '</td><td>' + item.description + '</td><td>' + item.adresse.rue +'</td><td>' + item.adresse.ville + '</td><td>' + item.disponibilité.dateDu + '</td><td>' +item.disponibilité.dateAu +'</td><td>' +item.proprietaire.nom +'</td></tr>';
            		        });
            		        $('#avant').prepend(trHTML);
            			}    
                    }
               });
             }
       });
    });
</script>


</body>
</html>